*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

html
  background: $light-yellow

body
  background: $white
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"


// Texts

h1, h2
  font-size: 32px
  line-height: 40px
  font-weight: 600

h3
  font-size: 18px
  line-height: 21px
  font-weight: 600

p
  font-size: 18px
  line-height: 28px

  &.smaller
    font-size: 13px
    line-height: 15px


// Links and buttons

a
  text-decoration: none
  color: $black

.purple-button
  background: $purple
  color: $white
  padding: 18px 25px
  border-radius: 5px
  font-size: 18px
  font-weight: 600

  &:hover
    background: $light-purple


// Images

.trace
  width: 83px
  height: 19px

.wanted
  width: 108px
  height: 31px

.lattice
  width: 135px
  height: 25px

.reech
  width: 108px
  height: 17px

.backtracks
  width: 138px
  height: 45px


// Common

.wrapper
  max-width: 950px
  margin: 0 auto
  padding: 120px 0

.flex
  display: flex
  flex-direction: row
  justify-content: space-between


// Header

header
  max-width: 950px
  margin: 0 auto
  padding: 20px 0
  align-items: center

  li
    display: inline-block
    text-transform: uppercase
    letter-spacing: 1.73px
    font-size: 13px
    font-weight: 600
    margin-right: 40px

    &:last-child
      margin: 0

      a
        color: $purple


// Footer

footer

  .top
    height: 515px
    display: flex

  .left
    width: 50%
    height: 100%
    background: url(../../images/footer-picture.png) no-repeat
    background-size: cover

  .right
    width: 50%
    height: 100%

  .details
    width: 100%
    box-sizing: border-box
    height: 50%
    background: $purple
    color: $white
    padding: 30px 40px

  .more
    margin-top: 20px
    display: flex

    p, a
      font-size: 16px
      line-height: 21px
      color: $white
      max-width: 250px
      margin-top: 3px
    a
      text-decoration: underline

  .plan
    width: 100%
    height: 50%
    background: url(../../images/plan.png) no-repeat
    background-size: cover

  .bottom
    background: $black
    text-align: center
    color: $white
    padding: 60px 0 30px

    h2
      margin-bottom: 60px

  .credits
    width: 85%
    font-size: 16px
    text-align: center
    padding-top: 30px
    margin: 90px auto 0
    border-top: 1px solid rgba(255,255,255,0.6)
    opacity: 0.8

    a
      color: $white
      text-decoration: underline


// Sections - Home

.hero
  background: url(../images/hero-illustration.png) no-repeat right 25px bottom
  background-size: 679px 477px

  .content
    max-width: 530px

  h3
    margin-bottom: 40px

  h1
    max-width: 480px
    margin-bottom: 50px

  p
    margin-top: 50px


.about
  background: $light-yellow

  .left
    max-width: 370px

    h2
      margin-bottom: 40px

    h3
      margin-bottom: 40px

  .right
    max-width: 465px
    padding-top: 65px

    h3
      margin-bottom: 10px

    p
      margin-bottom: 40px
      &:last-child
        margin: 0


.who
  padding-bottom: 0

  .content
    max-width: 370px

  h3, h2
    margin-bottom: 40px

  .team
    width: 510px
    height: 310px
    border-radius: 10px

  .clients
    align-items: center
    margin-top: 30px


.workplace
  text-align: center

  h3
    margin-bottom: 40px


// Sections - Program

.program
  justify-content: flex-start

  .left
    max-width: 400px
    margin-right: 115px

  h1
    margin-bottom: 40px

  a
    text-decoration: underline

  ul
    margin-top: 89px

  li
    color: $purple
    margin-bottom: 15px
    font-weight: 600

    &:before
      content: '• '
      padding-right: 5px
      color: $purple

  .teacher
    margin-top: 60px
    justify-content: flex-start

  .teacher-picture
    width: 77px
    height: 77px
    border-radius: 5px
    margin-right: 20px

  .teacher-name
    font-weight: 600
    line-height: 16px
    margin-bottom: 16px

  .teacher-job
    font-size: 16px
    line-height: 24px
    margin-bottom: 5px


// Sections - Pricing

.pricing
  justify-content: flex-start

  .left
    max-width: 400px
    margin-right: 115px

  h1
    margin-bottom: 40px

  .right
    margin-top: 65px

  .price
    color: $purple
    font-size: 69px
    line-height: 83px
    position: relative

  .ttc
    font-size: 32px
    position: absolute
    top: -10px


// Sections - FAQ

.faq

  h1
    margin-bottom: 40px

  h3
    margin-bottom: 10px

  .questions
    flex-wrap: wrap

  .question
    width: 460px
    margin-bottom: 40px
