*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

html
  background: $light-yellow

body
  background: $white
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

h1, h2
  font-size: 32px
  line-height: 40px
  font-weight: 600

h3
  font-size: 18px
  line-height: 21px
  font-weight: 600

p
  font-size: 18px
  line-height: 28px
  font-weight: 400

a
  text-decoration: none
  color: $black

.wrapper
  max-width: 950px
  margin: 0 auto
  padding: 120px 0

header
  max-width: 950px
  margin: 0 auto
  padding: 20px 0
  display: flex
  flex-direction: row
  justify-content: space-between
  li
    display: inline-block
    text-transform: uppercase
    letter-spacing: 1.73px
    font-size: 13px
    font-weight: 600
    margin-right: 40px
    &:last-child
      margin: 0
      a
        color: $purple
