.hero
  .wrapper
    .content
      h3 = t 'hero.track'
      h1 = t 'hero.title'
      = image_tag "hero-illustration.png", class: "illustration"
      = link_to t('hero.join.link'), class: "purple-button"
        = t 'hero.join.title'
      p.smaller = t 'hero.join.more'

.about
  .wrapper.flex
    .left 
      h3 = t 'about.subtitle'
      h2 = t 'about.title'
      p = t 'about.description'
    .right
      - t('about.sections').each do |id, section|
        h3 = section[:title]
        p = section[:description]

.wrapper.who
  .flex
    .content 
      h3 = t 'team.company'
      h2 = t 'team.title'
      p = t 'team.description'
    = image_tag "team.png", class: "team"
  .clients.flex
    = image_tag "trace-logo.png", class: "trace"
    = image_tag "wanted-logo.png", class: "wanted"
    = image_tag "lattice-logo.png", class: "lattice"
    = image_tag "reech-logo.png", class: "reech"
    = image_tag "backtracks-logo.png", class: "backtracks"

.wrapper.workplace
  h3 = t 'workplace.subtitle'
  h2 = t 'workplace.title'
