@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; }

html {
  background: #FEFAF3; }

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  body.menu-open {
    overflow: hidden; }

h1, h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600; }

p {
  font-size: 18px;
  line-height: 28px; }
  p.smaller {
    font-size: 13px;
    line-height: 18px; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000; }

.green-button {
  background: #33CC33;
  color: #fff;
  padding: 18px 25px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600; }
  .green-button:hover {
    background: #29AE29; }

.trace {
  width: 83px;
  height: 19px; }

.wanted {
  width: 108px;
  height: 31px; }

.lattice {
  width: 135px;
  height: 25px; }

.reech {
  width: 108px;
  height: 17px; }

.backtracks {
  width: 138px;
  height: 45px; }

.office-1, .office-2 {
  width: 464px;
  height: 315px; }

.office-3 {
  width: 464px;
  height: 649px; }

.wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 120px 70px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .menu {
    display: none; }
  header li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.73px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 40px; }
    header li a:hover {
      color: #33CC33; }
    header li:last-child {
      margin: 0; }
      header li:last-child a {
        color: #33CC33; }
        header li:last-child a:hover {
          color: black; }

footer {
  background: #FEFAF3; }
  footer .wrapper {
    background: url(../images/background-footer.png) no-repeat right bottom;
    background-size: 323px 337px;
    padding: 60px 20px; }
  footer .more {
    margin: 20px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .more p, footer .more a {
      font-size: 16px;
      line-height: 21px;
      max-width: 250px;
      margin-top: 3px; }
    footer .more a {
      text-decoration: underline; }
    footer .more .address {
      padding-right: 10px; }
  footer .credits {
    font-size: 14px;
    line-height: 24px;
    color: #A6A6A6;
    margin-top: 50px; }
    footer .credits a {
      color: #A6A6A6;
      text-decoration: underline; }

.hero .wrapper {
  background: url(../images/hero-illustration.png) no-repeat 400px bottom;
  background-size: 679px 477px; }
.hero .content {
  max-width: 530px; }
.hero .illustration {
  display: none; }
.hero h3 {
  margin-bottom: 40px; }
.hero h1 {
  max-width: 480px;
  margin-bottom: 70px; }
.hero p {
  margin-top: 50px;
  max-width: 400px;
  line-height: 1.5em; }

.about {
  background: #FEFAF3; }
  .about .left {
    max-width: 370px; }
    .about .left h2 {
      margin-bottom: 40px; }
    .about .left h3 {
      margin-bottom: 40px; }
  .about .right {
    max-width: 465px;
    padding-top: 65px; }
    .about .right h3 {
      margin-bottom: 10px; }
    .about .right p {
      margin-bottom: 40px; }
      .about .right p:last-child {
        margin: 0; }

.who {
  padding-bottom: 0; }
  .who .content {
    max-width: 370px; }
  .who h3, .who h2 {
    margin-bottom: 40px; }
  .who .team {
    width: 510px;
    height: 310px;
    border-radius: 10px; }
  .who .clients {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px; }

.workplace {
  text-align: center; }
  .workplace h2 {
    margin-bottom: 55px; }
  .workplace h3 {
    margin-bottom: 40px; }
  .workplace img {
    border-radius: 10px; }
  .workplace .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.program {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .program .left {
    max-width: 425px;
    margin-right: 115px; }
  .program h1 {
    margin-bottom: 40px; }
  .program ul {
    margin-top: 82px; }
  .program li {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400; }
    .program li:before {
      content: "• ";
      padding-right: 5px;
      color: #33CC33; }
  .program .teacher {
    margin-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .program .teacher-picture {
    width: 77px;
    height: 77px;
    border-radius: 50px;
    margin-right: 20px; }
  .program .teacher-name {
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 16px; }
  .program .teacher-job {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px; }

.pricing {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .pricing div {
    width: 50%;
    padding: 0 4px 0 0; }
  .pricing h1 {
    margin-bottom: 45px; }
  .pricing .price {
    color: #33CC33;
    font-size: 80px;
    line-height: 70px;
    position: relative;
    margin-bottom: 15px; }
  .pricing .ttc {
    font-size: 22px;
    position: absolute;
    top: -20px; }
  .pricing p {
    margin-bottom: 20px; }

.faq h1 {
  margin-bottom: 40px; }
.faq h3 {
  margin-bottom: 10px; }
.faq .questions {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
.faq .question {
  width: 460px;
  margin-bottom: 50px; }

@media screen and (max-width: 1050px) {
  .office-1, .office-2, .office-3 {
    width: 510px;
    height: auto; }

  .wrapper {
    padding: 70px 20px; }

  .hero .wrapper {
    background: none; }
  .hero h1 {
    max-width: none;
    width: 100%;
    margin-bottom: 30px; }
  .hero .content {
    max-width: none;
    width: 100%; }
  .hero .illustration {
    display: block;
    width: 40%;
    height: 40%;
    margin-bottom: 60px; }

  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about .left, .about .right {
    max-width: none;
    width: 100%; }

  .who {
    padding-bottom: 0; }
    .who .flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .who .content {
      max-width: none;
      width: 100%; }
    .who .clients.flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .who .team {
      margin: 30px auto 0; }

  .workplace h2 {
    margin-bottom: 10px; }
  .workplace .pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .workplace img {
    margin: 30px auto 0; }

  .program li {
    line-height: 21px; }

  .faq .question {
    max-width: none;
    width: 100%; }
    .faq .question:last-child {
      margin: 0; }

  footer .details h2 {
    font-size: 24px;
    line-height: 26px; }
  footer .more p, footer .more a {
    font-size: 14px;
    line-height: 18px; } }
@media screen and (max-width: 800px) {
  header .menu {
    display: block;
    float: right;
    z-index: 10;
    position: relative;
    color: #535353; }
  header ul {
    list-style: none;
    float: none;
    margin: 0;
    opacity: 0;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 130px;
    max-height: 0;
    overflow: hidden;
    z-index: 9;
    padding: 0; }
    header ul li {
      display: block;
      padding: 0 0 30px;
      opacity: 0;
      text-align: center;
      margin: 0; }
      header ul li a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        margin-left: 0; }
  header .menu-items.responsive ul {
    opacity: 1;
    height: 100%;
    max-height: none; }
    header .menu-items.responsive ul li {
      opacity: 1; }

  .pricing h1 {
    margin-bottom: 8px; }

  footer .wrapper {
    background: #FEFAF3;
    max-width: 510px; } }
@media screen and (max-width: 500px) {
  .hero .illustration {
    width: 100%;
    height: auto; }
  .hero .green-button {
    display: inline-block;
    text-align: center; }

  .program {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .program .left {
      max-width: none;
      width: 100%; }
    .program .teacher {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .pricing .right {
      margin-top: 50px; }
    .pricing .left {
      max-width: none;
      width: 100%; }
    .pricing .ttc {
      position: relative;
      display: block; }

  .who .team {
    width: 100%;
    height: auto; }
  .who .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .who .clients img {
      margin: 15px 15px 0 0; }

  footer .green-button {
    display: block;
    text-align: center; }
  footer .credits {
    text-align: center; } }
